/*@tailwind preflight;*/

@tailwind utilities;


.listValue{
    min-width: 30px;
    text-align: center;
}

.buttonDefault{
  background-color: transparent;
  color: #000;
  padding: 8px 16px;
  border-radius: 4px;
  font-family: Muli,Roboto,"Helvetica",Arial,sans-serif;
  font-size: 1.4rem;
  line-height: 1.75;
  opacity: 0.8;
  margin:0 10px 0 0;
}

.activeDefault{
  background-color: #039be5;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  font-family: Muli,Roboto,"Helvetica",Arial,sans-serif;
  font-size: 1.4rem;
  line-height: 1.75;
  margin:0 10px 0 0;
}
